body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.card-container{
    max-width:800px;
    border: 3px dashed gray;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding:10px;
    margin: 0 auto;
    .card{
        border:1px dashed gray;
        padding:10px;
    }
}

